// COLOR
$color-pr-1: #18aaf0;
$color-pr-2: #06a8ff;
$color-pr-3: #38e4ff;
$color-pr-4: #40c4ff;

$color-se-1: #973fff;
$color-se-2: #b474ff;
$color-se-3: #cb9fff;
$color-se-4: #ab61ff59;

$color-w: white;
$color-w100: #f1f7e7;

$color-re-1: #df5a5a;

// FONT-SIZE
$fs-sm: 12px;
$fs-md: 15px;
$fs-md-lg: 20px;
$fs-md-lg-2: 25px;
$fs-lg: 32px;
$fs-xl: 46px;

// FONT_WEIGHT
$fw-thin: 100;
$fw-normal: 300;
$fw-bold: 400;
$fw-bold-1: 500;
$fw-bold-2: 700;

// FONT_FAMILY
$font-title: "Roboto", sans-serif;
$font-text: "Montserrat", sans-serif;
